<html>
  <SCRIPT type="text/javascript" src="./js/jquery.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="./js/callbacks.js"></SCRIPT>
  
  <head>
  </head>
  <body>
    <h1>
      "Hello World!"
    </h1>
    <div id="temp_wrapper">
      <input id="temp" type="text" value="100"/>
    </div>
    <div id="btn_wrapper">
      <input class="temp_button" type="button" id="up_btn" value="UP &uarr;" ></input>
      <input class="temp_button" type="button" id="down_btn" value="DOWN &darr;"/>
    </div>
  </body>
  </body>
</html>
